# IDE
# IDE配置
# Node.js
# Python
# 临时文件
# 日志文件
# 本地配置
# 构建输出
# 系统文件
*$py.class
*.egg
*.egg-info/
*.log
*.py[cod]
*.pyc
*.so
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tmp
*~
.DS_Store
.Python
.eggs/
.env
.idea/
.installed.cfg
.vscode/
Thumbs.db
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
env/
github_config.json
github_settings.json
lib/
lib64/
node_modules/
npm-debug.log
parts/
sdist/
var/
wheels/
yarn-debug.log
yarn-error.log
