# IDE
# Python
# 日志文件
# 本地配置
# 系统文件
*$py.class
*.egg
*.egg-info/
*.log
*.py[cod]
*.pyc
*.so
*.swo
*.swp
*~
.DS_Store
.Python
.eggs/
.idea/
.installed.cfg
.vscode/
Thumbs.db
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
env/
github_settings.json
lib/
lib64/
parts/
sdist/
var/
wheels/
